nav {
  width: 100%;
  background-color: var(--primary);
  padding: 31px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  height: 100px;
	width: 200px;
}

a {
  color: var(--opacity);
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: gray;
}

.active {
  color: var(--text-primary);
}
