nav {
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-container {
  height: 100px;
	width: 200px;
}

#logo {
	max-width: 100%;
	max-height: 100%;
  padding-top: 10px;
  margin-left: -100px;
}

a {
  color: var(--opacity);
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: gray;
}

.active {
  color: var(--text-primary);
}
